.sidebarHeaderIcon{
  border-bottom-right-radius: 3px;
  flex: 0 0 50px;
  margin-bottom: -1px;

  background: var(--bg-0);
  box-sizing: border-box;
  overflow: auto;
  padding: 10px 0;
  width: 50px;

  display: block;
}
.sidebarHeaderIconA{
  width: 34px;
  height: 34px;
  background: var(--misc-button-active-bg);
  color: var(--misc-button-active-color);
  display: block;
  margin: 0 auto 10px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease,background .15s ease;
}
.sidebarHeaderIconSvg{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  stroke: currentcolor;
  fill: currentcolor;
  stroke-width: 0;
  height: 18;
  width: 18;
  overflow: hidden;
  olor: var(--misc-button-active-color);
  cursor: pointer;
  text-align: center;
}