.menu{
  box-sizing: border-box;
  flex: 1 1 auto;
  margin: 10px 10px 0;
  overflow: auto;
  padding: 10px;
  position: relative;

  background: var(--content-bg);
  border-radius: 3px;
  box-shadow: 0 1px 0 1px var(--content-box-shadow);
  z-index: 1;
}